/* -------------關於我們------------- */
.about-container{
    max-width: 1080px;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-top: 40px;
}
.about-us{
    padding: 10px;
    justify-content: space-around;
    margin-bottom: 20px;
}
.about-food{
    padding: 10px;
    justify-content: space-around;
}
.about-us .text, .about-food .text{
    display: flex;
    align-items: center;
    letter-spacing: 2px;
}
.about-us p ,.about-food p{
    font-size: 14px;
}
.about-us img , .about-food img{
    width: 400px;
    height: 300px;
    box-shadow:  5px 5px 5px 0 #0005;
}

/* -------------店舖據點------------- */
.location{
    margin-top: 40px;
    max-width: 1080px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}
.location-block{
    margin: auto;
    justify-content: space-between;
    padding: 10px;
    margin: 10px;

}
.location-block .pic{
    width: 500px;
    height: 450px;
}
.location-block .pic .img{
    width: 100%;
    height: 100%;
}

.location h3{
    width: 200px;
    text-align: center;
    padding: 10px;
    margin: 10px;
    background-color: #784A43;
    color: white;
}
.store-info{
    width: 500px;
    display: flex;
    flex-direction: column;
    line-height: 30px;
    justify-content: space-around;
    padding: 10px;
}
.location-select{
    text-align: center;
    padding: 10px;
    color: #784A43;
    font-size: 16px;
    font-weight: bolder;
    padding: 10px;
}
.store-info a{
    text-decoration: none;
    color: #784A43;
    border: 1px solid #784A43;
    padding: 0 0 0 5px;
    
}
.store-info i{
   color:#A61F1F;
    
}
.location-select{
    cursor: pointer;
}
.store-info .name{
    width: 140px;
    margin-left: 10px;
    display: inline-block;
    font-weight: bolder;
}
.store-info .address{
    width: 280px;
    display: inline-block;
}
.fade-link {
    opacity: 0.2; /* 将链接颜色设置为淡色 */
}
/* -------------手機版------------- */
@media screen and (max-width: 768px) {
    .about-us{
        margin: auto;
        display: flex;
        flex-direction: column-reverse;

    }
    .about-us .pic , .about-food .pic{
        max-width: 768px;
    }
    .about-us img , .about-food img{
        width: 100%;
    }
    .about-us h2 ,.about-food h2{
        color:#A61F1F;
        display: flex;
        justify-content: center;
        letter-spacing: 10px;
        font-size: 18px;
        font-weight: bolder;
    }
    .about-us .text span , .about-food .text span{
        display: none;
    }
    .about-food{
        display: flex;
        flex-direction: column;
        margin: auto;
    }
    .aboutfood-box{
        display: flex;
        flex-direction: column-reverse;
    }
    .about-us .text, .about-food .text{
       display: flex;
       margin: auto;
       line-height: 20px;
       padding: 5px;
    }
    .about-us p ,.about-food p{
        font-size: 12px;
    }
    /* -------------店舖據點------------- */
    .location h3{
        width: 100px;
        font-size: 16px;
        padding: 5px;
    }
    .location-select {
        font-size: 16px;
        margin-bottom: 10px;
    }
    .location-block{
        margin: auto;
    }
    .location .pic{
        width: 100%;
        height: 350px;
    }
    .store-info{
        width: 350px;
        padding-top: 20px;
    }
    .store-info a{
        font-size: 14px;
    }
    .store-info .address{
        font-size: 12px;
        text-align: left;
    }

}

/* -------------電腦版------------- */
@media screen and (min-width:769px) {
    .about-us{
        display: flex;
        justify-content: center;
    }
    .aboutus-box{
        display: flex;
        /* margin-left: 80px; */
    }
    .about-us .text, .about-food .text{
        width: 400px;
        /* text-indent: 24px; */
        line-height: 25px;
    }
    .about-us .text{
        padding: 0 10px 0 30px;
        
    }
    .about-us img , .about-food img{
        width: 400px;
    }
    .about-us p , .about-food p{
        padding: 10px;
    }
    .about-us h2 ,.about-food h2{
        color:#A61F1F;
        font-weight: bolder;
        writing-mode: vertical-lr;
        display: flex;
        justify-content: center;
        letter-spacing: 10px;
    }
    .about-food{
        display: flex;
        justify-content: center;
    }
    .aboutfood-box{
        display: flex;
    }
    .about-food .text{
        padding: 0 30px 0 20px;
    }

    /* -------------店舖據點------------- */
    .location-block{
        display: flex;
    }
    .location img{
        width: 500px;
        vertical-align: top;
    }
    .store-info .address{
        margin-left: 50px;
    }
}