 /* -------------結帳流程------------- */
 .list{
    display: flex;
    justify-content: center;
    margin: auto;
    max-width:1200px;
    list-style: none;
    padding-top: 60px;
    }
.list li{
    display: flex;
    flex-direction: column;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #784A43 ;
   justify-content: center;
    text-align: center;
    position: relative;
    font-size: 16px;
    color: #784A43 ;
    }
.list .first{
    background-color: #784A43;
    color: white;
}

.list li + li{
    margin-left: 200px;
}
.list li + li::before{
    content:'';
    position: absolute;
    width: 200px;
    height: 2px;
    background-color:#784A43 ;
    top: 0;
    bottom: 0;  
    margin: auto;
    left: -200px;
}
.box{
    max-width: 1080px;
    display: flex;
    justify-content: center;
    margin: auto;
}
.box .text{
    display: flex;
    justify-content: center;
    margin: auto;
   
}
.box span{
    width: 50px;
    text-align: center;
    font-size: 12px;
    color: #784A43 ;
}
.text span+span{
    margin-left: 200px;
}
/* -------------結帳資訊------------- */
.cart-info{
    max-width: 1080px;
    display: flex;
    margin: auto;
    flex-direction: column;
}
.cart-info h2{
    color: #784A43;
}
.cart-info-nav{
    max-width: 1080px;
    display: flex;
    justify-content:space-around;
    border-bottom: 2px solid #784A43;
   padding: 5px;
   box-sizing: border-box;
    color: #784A43;

}
.product-list{
    display: flex;
    align-items: center;
    margin-top: 20px;
    
}
.product-pic{
    cursor: pointer;
}
.product-name {
    padding-left: 5px;
    cursor: pointer;
}
.product-name p{
    font-size: 16px;
}
.product-name span{
    color: #A61F1F;
    font-size: 12px;
    font-weight: bolder;
}
.product-price{
    flex-grow: 1.35;
    font-weight: bolder;
}

.product-cost{
    font-weight: bolder;
}
.input-num{
    width: 50px;
    text-align: center;
    border: none;
}
.product-quantity button{
    width: 20px;
    border: none;
    background-color: white;
    cursor: pointer;
}
.delete{
    cursor: pointer;
}

/* -------------宅配選單------------- */
.checkout-container{
    margin-top: 40px;
    max-width: 1080px;
    margin: auto;
    justify-content: space-between;
    padding-top: 60px;
    box-sizing: border-box;
}
.checkout-delivery, .order-information{
    width: 400px;
    padding: 5px;
}
.checkout-delivery h3, .order-information h3{
    border-bottom: 2px solid #784A43;
    color: #784A43;
}
.checkout-delivery p,.order-information p{
    padding-top: 20px;
}
.delivery-type .type, .payment{
    border: none;
    padding-left: 5px;
    padding-right: 5px;
    letter-spacing: 2px ;
}

.order-information .subtotal, .freight, .total{
    display: flex;
    justify-content: space-between;
}
.order-information .total{
    border-top: 2px solid #784A43;
    color: #784A43;
}
.order-information span{
    font-weight: bolder;
}
.order-information .pay{
    text-align: center;
    padding-top: 20px;  
}

.order-information .pay a{
    color: white;
    font-weight: bolder;
    text-decoration: none;
    background-color: #784A43;
    padding: 5px 50px 5px 50px;
    border-radius: 5px;
    font-size: 18px;
}
/* -------------訂購須知------------- */
.notice{
    max-width: 1080px;
    padding: 20px;
    margin: auto;
}
.notice h3{
    font-size: 14px;
    color: #784A43;
    border-bottom: 1px solid #784A43;
}
.notice li{
    padding-top: 10px;
    font-size: 12px;
    text-indent: 10px;
}
.notice span{
    font-size: 12px;
    color: #784A43;
}

/* ------------手機版------------- */
@media screen and (max-width:768px){
     /* -------------結帳資訊------------- */
    .cart-info h2{
        display: none;
    }
    /* -------------商品資訊------------- */
    .product-list{
        padding: 10px;
        box-sizing: border-box;
        display: flex;
        justify-content: space-around;
    }
    .list li + li{
    margin-left: 100px;
    }
    .list li + li::before{
        width: 100px;
        left: -100px;
    }
    .list li{
        width: 40px;
        height: 40px;
    }
    .box span{
        width: 50px;
        font-size: 12px;
    }
    .text span+span{
        margin-left: 100px;
    }
    .cart-info-nav{
        display: none;
    }
    .product-name{
        width: 120px;
    }
    .product-name span{
        font-size: 12px;
    }
    .product-name p{
        font-size: 14px;
    }
    .input-num{
        width: 30px;
    }
    .product-quantity button{
        width: 15px;
    }
    .cart-box{
        display: flex;
        flex-direction: column;
    
    }
    .product-price{
        display: none;
    }
    .product-cost{
        font-size: 14px;
    }
    .delete{
        font-size: 12px;
    }
    /* -------------宅配選單------------- */
    .checkout-delivery, .order-information{
        width: 350px;
        margin: auto;
    }
    .checkout-delivery h3, .order-information h3{
        font-size: 16px;
    }
    .checkout-delivery, .order-information p{
        font-size: 14px;
    }
    .order-information .pay a{
        color: white;
        font-weight: bolder;
        text-decoration: none;
        background-color: #784A43;
        font-size: 16px;
        padding: 5px 20px;
    }
    .order-information{
        margin-top: 20px;
    }
    .order-information .freight{
        padding-bottom: 30px;
    }
    .notice h3{
        font-size: 12px;
        color: #784A43;
        border-bottom: 1px solid #784A43;
    }
    .notice li{
        padding-top: 10px;
        font-size: 10px;
        text-indent: 8px;
    }
    .notice span{
        font-size: 10px;
        color: #784A43;
    }
    
  }
  
/* --------------桌機版 -------------------*/
  @media screen and (min-width:769px){
    .product-name{
        width: 200px;
        flex-grow: 1;
    }
    .product-cost{
        flex-grow: 0.6;
    }
    .product-quantity{
    flex-grow: 1.35;

    }
    /* -------------宅配選單------------- */
    .checkout-container{
        display: flex;
    }
    .checkout-delivery, .order-information{
        width: 400px;
    }
    .order-information .freight{
        padding-bottom: 80px;
    }
  }