/* 結帳流程 */
.list{
    display: flex;
    justify-content: center;
    margin: auto;
    width:1200px;
    list-style: none;
    padding-top: 60px;
    }
.list li{
    display: flex;
    flex-direction: column;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /* background-color:#9B866A; */
    border: 1px solid #784A43 ;
   justify-content: center;
    text-align: center;
    position: relative;
    font-size: 16px;
    color: #784A43 ;
    }
.list .first{
    background-color: #784A43;
    color: white;
}

.list li + li{
    margin-left: 200px;
}
.list li + li::before{
    content:'';
    position: absolute;
    width: 200px;
    height: 2px;
    background-color:#784A43 ;
    top: 0;
    bottom: 0;  
    margin: auto;
    left: -200px;
}
.box{
    width: 1080px;
    display: flex;
    justify-content: center;
    margin: auto;
}
.box .text{
    display: flex;
    justify-content: center;
    margin: auto;
   
}
.box span{
    width: 50px;
    text-align: center;
    font-size: 12px;
    color: #784A43 ;
}
.text span+span{
    margin-left: 200px;
}
/* 結帳資訊 */
.cart-info{
    width: 1080px;
    display: flex;
    margin: auto;
    flex-direction: column;
}
.cart-info h2{
    color: #784A43;
}
.cart-info-nav{
    width: 1080px;
    display: flex;
    justify-content:space-around;
    /* margin: auto; */
    border-bottom: 2px solid #784A43;
   padding: 5px;
   box-sizing: border-box;
    color: #784A43;

}
.product-list{
    display: flex;
    align-items: center;
    margin-top: 20px;
    
}
.product-name{
    width: 200px;
    flex-grow: 1;
    padding-left: 5px;
    font-size: 16px;
}
.product-price{
    flex-grow: 1.35;
    font-weight: bolder;
}
.product-quantity{
    flex-grow: 1.35;

}
.product-cost{
    flex-grow: 0.6;
    font-weight: bolder;
}
.input-num{
    width: 50px;
    text-align: center;
    border: none;
}
.product-quantity button{
    width: 20px;
    border: none;
    background-color: white;
}

/* 宅配選單 */
.checkout-container{
    margin-top: 40px;
    width: 1080px;
    display: flex;
    margin: auto;
    justify-content: space-between;
    padding-top: 60px;
    box-sizing: border-box;
}
.checkout-delivery, .order-information{
    width: 400px;
    padding: 5px;
}
.checkout-delivery h3, .order-information h3{
    border-bottom: 2px solid #784A43;
    color: #784A43;
}
.checkout-delivery p,.order-information p{
    padding-top: 20px;
}
.delivery-type .type, .payment{
    border: none;
    padding-left: 5px;
    padding-right: 5px;
    letter-spacing: 2px ;
}

.order-information .subtotal, .freight, .total{
    display: flex;
    justify-content: space-between;
}
.order-information .total{
    /* padding-top: 20px; */
    border-top: 2px solid #784A43;
    color: #784A43;
}
.order-information span{
    font-weight: bolder;
}
.order-information .freight{
    padding-bottom: 80px;
}
.order-information .pay{
    text-align: center;
    padding-top: 20px;  
}

.order-information .pay a{
    color: white;
    font-weight: bolder;
    text-decoration: none;
    background-color: #784A43;
    padding: 5px 50px 5px 50px;
    border-radius: 5px;
    font-size: 18px;
}
/* 訂購須知 */
.notice{
    width: 1080px;
    padding: 20px;
    margin: auto;
}
.notice h3{
    font-size: 14px;
    color: #784A43;
    border-bottom: 1px solid #784A43;
}
.notice li{
    padding-top: 10px;
    font-size: 12px;
    text-indent: 10px;
}
.notice span{
    font-size: 12px;
    color: #784A43;
}